<!DOCTYPE html>
<html ng-app="happyHrApp">
<head>
  <title>Cheers!</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Cheers</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- <li><a href="#">Link</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div>
            <li>
              <div ng-controller="modalsCtrl">
                <script type="text/ng-template" id="logInModal.html">
                  <div class="modal-header">
                    <h3>Log In!</h3>
                  </div>
                  <div class="modal-body">
                    <%= bootstrap_form_for(:user, :url => sessions_path) do |f| %>
                      <%= f.text_field :email %>
                      <%= f.password_field :password %>
                      <%= f.submit 'Log In', class: "btn btn-warning" %>
                    <% end %>
                    <br>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </div>
                  <div class="modal-footer">
                  </div>
                </script>

              </div>
            </li>
            <li>
            <div ng-controller="modalsCtrl">
              <script type="text/ng-template" id="signUpModal.html">
                <div class="modal-header">
                  <h3>Sign Up!</h3>
                </div>
                <div class="modal-body">
                  <%= bootstrap_form_for(:user, :url => create_user_path(@user)) do |f| %>
                    <%= f.text_field :email %> <br>
                    <%= f.text_field :username %> <br>
                    <%= f.password_field :password %> <br>
                    <%= f.password_field :password_confirmation %>
                    <%= f.submit class:"btn btn-warning"%>
                    <% end %>
                    <br>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
                <div class="modal-footer">
                </div>
              </script>
            <% if current_user == nil %>
              <button type="button" ng-click="login(md)" class="btn btn-primary navbar-btn">Log In</button>
              <button type="button "ng-click="signUp(md)" class="btn btn-primary navbar-btn">Sign Up</button>
            <% end %>
            </div>
            </li>
            <li>
            <!-- shows current user and log out, only temporary for now -->
              <% if current_user %>
                <div class="login"> Welcome, <%= current_user.username.upcase %> | </div>
                <%= link_to "LOGOUT", sessions_path, method: :delete %>
                  <div ng-controller="modalsCtrl">
                  <!-- removed the src for the places api in the script tag below. may need to add that back if the autocomplete needs to be added directly into the form here -->
                    <script type="text/ng-template" id="addBusinessModal.html">
                      <div class="modal-header">
                        <h3>Add a business!</h3>
                      </div>
                      <form>
                        <div class="modal-body">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ng-model="bName" class="form-control">
                          </div>
                          <label for="address">Address</label>
                          <div class="form-group">
                            <input type="text" ng-model="address" class="form-control" placeholder="street address">
                          </div>
                          <div class="form-group form-inline">
                            <input type="text" ng-model="city" class="form-control" placeholder="city">
                            <input type="text" ng-model="zipcode" class="form-control" placeholder="zip">
                          </div>
                          <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" ng-model="phone" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="website">Website</label>
                            <input type="text" ng-model="website" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="rating">Rating (1-5)</label>
                            <input type="text" ng-model="rating" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="happyhr">Happy Hour Times</label>
                            <input type="text" ng-model="happyHourTime" class="form-control">
                          </div>
                          <button ng-click="addToBusinessApi()" class="btn btn-primary">Add Business</button>
                          <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                      </form>
                    </script>
                    <a ng-controller="mapController" class="happyhrs" ui-sref="map"><%= image_tag src="happyhour_icon.png", size: "80x80" %></a>
                    <button type="button "ng-click="addBusiness(sm)" class="btn btn-primary navbar-btn custom-btn">ADD Business</button>
                  </div>
              <% end %>
            </li>
          </div>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%= yield %>

<% if current_user %>
<!-- when button is clicked, function makes geocode call to google api in map controller and stores the location data in the DB which
then populates on the map canvas -->




<% end %>

<div id="content">
  <div class="container banner">
    <%= image_tag("Cheers_Logo.png", height: "100%" , width: "100%" ) %>
  </div>
</div>

<div id="footer">
  <div id="menu-wrapper">
    <ul id="friends" class="footermenus">
    <li><h4>Dev Team</h4></li>
      <li>Kyle</li>
      <li>Ryan</li>
      <li>Cosimo</li>
      <li>Sophana</li>
    </ul>
    <ul id="inspiration" class="footermenus">
      <li><h4>Inspiration</h4></li>
      <li>Staying Motivated</li>
      <li>Rewarding Ourselves</li>
      <li>Finding Ways to Relax</li>
      <li>Drinking is Just Fun Sometimes</li>
      <li>Promote Social Living with Happy Hour</li>
    </ul>
  </div>
</div>

<div id="copyright">
  <p>Created by TEAM DOOM</p>
</div>
</body>
</html>
