<!DOCTYPE html>
<html>
<head>
  <title>Cheers!</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

</head>
<body ng-app="happyHrApp">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag("Cheers_Logo2.png", height: '37', width: '96') %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div>
            <li>
              <div ng-controller="ModalDemoCtrl">
                <script type="text/ng-template" id="logInModal.html">
                  <div class="modal-header">
                    <h3>Log In!</h3>
                  </div>
                  <div class="modal-body">
                    <%= bootstrap_form_for(:user, :url => sessions_path) do |f| %>
                      <%= f.text_field :email %>
                      <%= f.password_field :password %>
                      <%= f.submit 'Log In', class: "btn btn-warning" %>
                    <% end %>
                    <br>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                  </div>
                  <div class="modal-footer">
                  </div>
                </script>
                
              </div>
            </li>
            <li>
            <div ng-controller="ModalDemoCtrl">
              <script type="text/ng-template" id="signUpModal.html">
                <div class="modal-header">
                  <h3>Sign Up!</h3>
                </div>
                <div class="modal-body">
                  <%= bootstrap_form_for(:user, :url => create_user_path(@user)) do |f| %>
                    <%= f.text_field :email %> <br>
                    <%= f.text_field :username %> <br>
                    <%= f.password_field :password %> <br>
                    <%= f.password_field :password_confirmation %>
                    <%= f.submit class:"btn btn-warning"%>
                    <% end %>
                    <br>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
                <div class="modal-footer">
                </div>
              </script>
            <% if current_user == nil %>
              <button type="button "ng-click="signUp(md)" class="btn btn-primary navbar-btn">Sign Up</button>
              <button type="button" ng-click="login(md)" class="btn btn-primary navbar-btn">Log In</button>
              <button type="button" class="btn btn-primary navbar-btn" ui-sref="map">Map</button>

              
            <% end %>
            </div>
            </li>
            <li>
            <!-- shows current user and log out, only temporary for now -->
              <% if current_user %>
                currently logged in: <%= current_user.email %>
                <%= link_to "logout", sessions_path, method: :delete %>
              <% end %>
            </li>
          </div>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<%= yield %>

<div id="content">
  <div class="container">
    <%= image_tag("Cheers_Logo2.png", height: "100%" , width: "100%" ) %>  
  </div>
</div>

<div id="footer">
  <div id="menu-wrapper">
    <ul id="more" class="footermenus">
      <li><h4>More on Cheers!</h4></li>
      <li><a href="http://facebook.com/" target="_blank">Facebook</a></li>
      <li><a href="http://instagram.com/" target="_blank">Instagram</a></li>
      <li><a href="http://twitter.com/" target="_blank">Twitter</a></li>
      <li><a href="http://www.linkedin.com/" target="_blank">Linked In</a></li>
    </ul>
  
    <ul id="friends" class="footermenus">
    <li><h4>Dev Team</h4></li>
      <li><a ui-sref="kyle" href="#kyle">Kyle</a></li>
      <li><a ui-sref="ryan" href="#ryan">Ryan</a></li>
      <li><a ui-sref="cosimo" href="#cosimo">Cosimo</a></li>
      <li><a ui-sref="sophana" href="#sophana">Sophana</a></li>
    </ul>
    
    <ul id="inspiration" class="footermenus">
      <li><h4>Inspiration</h4></li>
      <li><a href="http://www.biomimicryinstitute.org/" target="_blank">Drinking A Lot</a></li>
      <li><a href="http://www.sightunseen.com/" target="_blank">Being Broke</a></li>
      <li><a href="http://www.sagmeister.com/" target="_blank">Working for a Crappy Company</a></li>
      <li><a href="http://thingsorganizedneatly.tumblr.com" target="_blank">Drinking Some More</a></li>
      <li><a href="http://www.core77.com/" target="_blank">Drunk Life</a></li>
    </ul>
  </div>
</div>
  
<div id="copyright">
  <p>Created by TEAM DOOM</p>
</div>

</body>
</html>
